CREATE TABLE alembic_version (
    version_num VARCHAR(32) NOT NULL, 
    CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num)
);

-- Running upgrade  -> fd8123522ec6

CREATE TABLE `AircraftType` (
    `AircraftTypeID` INTEGER NOT NULL AUTO_INCREMENT, 
    `TypeName` VARCHAR(50) NOT NULL, 
    PRIMARY KEY (`AircraftTypeID`), 
    UNIQUE (`TypeName`)
);

CREATE TABLE `FlightRoute` (
    `FlightRouteID` INTEGER NOT NULL AUTO_INCREMENT, 
    `FlightNumber` VARCHAR(10) NOT NULL, 
    `Origin` VARCHAR(5) NOT NULL, 
    `Destination` VARCHAR(5) NOT NULL, 
    `BaseFare` DECIMAL(10, 2) NOT NULL, 
    `EstimatedDuration` TIME NOT NULL, 
    PRIMARY KEY (`FlightRouteID`)
);

CREATE TABLE `Role` (
    `RoleID` INTEGER NOT NULL AUTO_INCREMENT, 
    `RoleName` VARCHAR(50) NOT NULL, 
    PRIMARY KEY (`RoleID`), 
    UNIQUE (`RoleName`)
);

CREATE TABLE `User` (
    `UserID` INTEGER NOT NULL AUTO_INCREMENT, 
    `FirstName` VARCHAR(100) NOT NULL, 
    `LastName` VARCHAR(100) NOT NULL, 
    `Email` VARCHAR(255) NOT NULL, 
    `Password` VARCHAR(255) NOT NULL, 
    PRIMARY KEY (`UserID`)
);

CREATE UNIQUE INDEX `ix_User_Email` ON `User` (`Email`);

CREATE TABLE `Aircraft` (
    `AircraftID` VARCHAR(20) NOT NULL, 
    `AircraftTypeID` INTEGER NOT NULL, 
    PRIMARY KEY (`AircraftID`), 
    FOREIGN KEY(`AircraftTypeID`) REFERENCES `AircraftType` (`AircraftTypeID`) ON UPDATE CASCADE
);

CREATE TABLE `Booking` (
    `BookingID` INTEGER NOT NULL AUTO_INCREMENT, 
    `UserID` INTEGER NOT NULL, 
    `BookingDate` DATETIME DEFAULT now(), 
    `BookingStatus` VARCHAR(20), 
    `TotalCost` DECIMAL(10, 2) NOT NULL, 
    PRIMARY KEY (`BookingID`), 
    FOREIGN KEY(`UserID`) REFERENCES `User` (`UserID`)
);

CREATE INDEX `ix_Booking_BookingID` ON `Booking` (`BookingID`);

CREATE TABLE `Seat` (
    `SeatID` INTEGER NOT NULL AUTO_INCREMENT, 
    `AircraftTypeID` INTEGER NOT NULL, 
    `SeatNumber` VARCHAR(5) NOT NULL, 
    `SeatClass` VARCHAR(20) NOT NULL, 
    PRIMARY KEY (`SeatID`), 
    FOREIGN KEY(`AircraftTypeID`) REFERENCES `AircraftType` (`AircraftTypeID`) ON DELETE CASCADE, 
    CONSTRAINT _aircraft_seat_ UNIQUE (`AircraftTypeID`, `SeatNumber`)
);

CREATE TABLE `UserPhone` (
    `PhoneID` INTEGER NOT NULL AUTO_INCREMENT, 
    `UserID` INTEGER NOT NULL, 
    `PhoneNumber` VARCHAR(20) NOT NULL, 
    PRIMARY KEY (`PhoneID`), 
    FOREIGN KEY(`UserID`) REFERENCES `User` (`UserID`) ON DELETE CASCADE
);

CREATE TABLE `UserRole` (
    `UserID` INTEGER NOT NULL, 
    `RoleID` INTEGER NOT NULL, 
    PRIMARY KEY (`UserID`, `RoleID`), 
    FOREIGN KEY(`RoleID`) REFERENCES `Role` (`RoleID`) ON DELETE CASCADE, 
    FOREIGN KEY(`UserID`) REFERENCES `User` (`UserID`) ON DELETE CASCADE
);

CREATE TABLE `Flight` (
    `FlightID` INTEGER NOT NULL AUTO_INCREMENT, 
    `FlightRouteID` INTEGER NOT NULL, 
    `AircraftID` VARCHAR(20) NOT NULL, 
    `DepartureTime` DATETIME NOT NULL, 
    `ArrivalTime` DATETIME NOT NULL, 
    `FlightStatus` VARCHAR(20), 
    PRIMARY KEY (`FlightID`), 
    FOREIGN KEY(`AircraftID`) REFERENCES `Aircraft` (`AircraftID`), 
    FOREIGN KEY(`FlightRouteID`) REFERENCES `FlightRoute` (`FlightRouteID`)
);

CREATE TABLE `Payment` (
    `PaymentID` INTEGER NOT NULL AUTO_INCREMENT, 
    `BookingID` INTEGER NOT NULL, 
    `Amount` DECIMAL(10, 2) NOT NULL, 
    `PaymentDate` DATETIME DEFAULT now(), 
    `PaymentMethod` VARCHAR(50) NOT NULL, 
    `PaymentStatus` VARCHAR(20) NOT NULL, 
    `TransactionID` VARCHAR(100), 
    PRIMARY KEY (`PaymentID`), 
    FOREIGN KEY(`BookingID`) REFERENCES `Booking` (`BookingID`)
);

CREATE INDEX `ix_Payment_PaymentID` ON `Payment` (`PaymentID`);

CREATE TABLE `Ticket` (
    `TicketID` INTEGER NOT NULL AUTO_INCREMENT, 
    `BookingID` INTEGER NOT NULL, 
    `FlightID` INTEGER NOT NULL, 
    `SeatID` INTEGER NOT NULL, 
    `TravelerFirstName` VARCHAR(100) NOT NULL, 
    `TravelerLastName` VARCHAR(100) NOT NULL, 
    `TicketPrice` DECIMAL(10, 2) NOT NULL, 
    PRIMARY KEY (`TicketID`), 
    FOREIGN KEY(`BookingID`) REFERENCES `Booking` (`BookingID`) ON DELETE CASCADE, 
    FOREIGN KEY(`FlightID`) REFERENCES `Flight` (`FlightID`), 
    FOREIGN KEY(`SeatID`) REFERENCES `Seat` (`SeatID`), 
    CONSTRAINT _flight_seat_uc UNIQUE (`FlightID`, `SeatID`)
);

CREATE INDEX `ix_Ticket_TicketID` ON `Ticket` (`TicketID`);

INSERT INTO alembic_version (version_num) VALUES ('fd8123522ec6');

